

  <div class="contenedor-botones">
    <a href="../../../mapa.html" class="buttons">
      <i class="material-icons" style="font-size: 36px;">pin_drop</i>
      <div class="textos">
        <h2>Mapa</h2>
      </div>
    </a>
    <a href="../../../mapa.html" class="buttons">
      <i class="material-icons" style="font-size: 36px;">question_mark</i>
      <div class="textos">
        <h2>FAQ</h2>
      </div>
    </a>
    <a href="../../../mapa.html" class="buttons">
      <i class="material-icons" style="font-size: 36px;">mail</i>
      <div class="textos">
        <h2>Contactanos</h2>
      </div>
    </a>
  </div>
