<div class="page" >

  <app-main-buttons class="whiteBorderline container " style="background-image: url(../assets/img/lost-dog-1.jpg) ; background-size: cover;"></app-main-buttons>


  <div class="container column ">

    <h1 >Objetivo</h1>
          <hr />
          <div class="whiteBorderline" >
            <p style="padding-left: 15px; padding-right: 5px;">El objetivo de este sitio es dar visibilidad a la cantidad de animales que se encuentran en situacion de calle,
              para asi, quienes puedan permitirse rescatar animales de la calle, puedan dar con ellos con mayor facilidad, y a su vez,
              aquellos que quieran ayudar pero no puedan permitirse adoptar, tengan la opcion de contribuir, indicando locacion y datos importantes correspondientes al animal
              encontrado. </p>
               <img src="../assets/img/map-static.jpg"   alt="">
            </div>



  </div>

  <div class="container" >
<p>footer</p>



  </div>

</div>
